.header {
	background-color: #f7f9fd;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	position: fixed;
	width: 100%;
}
.addButton {
	background-color: #4a475f;
	position: fixed;
	right: 1.5rem;
	top: 6rem;
	height: 3rem;
	width: 3rem;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	border: 0;
}
.addButton:hover {
	background-color: #3d3a4f;
}
.addButton img {
	width: 1.25rem;
	height: 1.25rem;
	padding-top: 0.375rem;
}
.headerImage {
	margin: 1rem;
	height: 4rem;
	width: 4rem;
}
.headerTitle {
	margin-left: 1rem;
	font-size: 1rem;
	text-transform: uppercase;
	display: block;
}
.body {
	padding-top: 7rem;
}
.list {
	padding: 5rem 2rem;
}
.productRow {
	display: flex;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	padding: 1rem;
}
.productRow:first-child {
	border-top: 1px solid #ddd;
}
.productRow > div {
	flex: 1;
}
.productRow > div.deleteIcon {
	flex: 0;
}

@media only screen and (max-width: 600px) {
	.addButton {
		bottom: 1.5rem;
		top: auto;
	}
	.list {
		padding: 5rem 0rem;
	}
}
